<!DOCTYPE html>
<html lang="en">
<%-include('partial/head.ejs') %>
<body>
    <%-include('partial/navbar.ejs')%>
    <%-include('partial/detailsForm.ejs')%>
    <%-include('partial/footer.ejs')%>
</body>
</html>