<dialog id="newTodoForm">
    <button onclick="document.querySelector('#newTodoForm').close()">X</button>
    <form>
        <label for="newTodoInput">New Todo: </label>
        <input id="newTodoInput" type="text" name="newTodoInput">
        <button>Submit</button>
    </form>
</dialog>